<ion-view view-title="Profil" class="profile">
  <ion-content class="padding pagecontent" scroll="false" >
	<div class="row single-row"> 
	
		<div class="col col-67">
			<div class="profile-card">
				<div class="row single-row profile_text">
					<div class="col col-50">
						<h1>
							Profilinfos:
						</h1>
						<p>Willkommen beim Wissensschwert, {{Data.user.name}}! </p>
						<!--<p>
							In deinem Profil kannst du deinen aktuellen Lernfortschritt einsehen. Momentan hast du folgende Punkte erreicht und Lektionen bearbeitet: 
						</p>
						 <strong>Punkte:</strong> {{Data.user.score}}, <strong>Lektion:</strong> {{Data.user.levelprogress}} -->
						<p>
							Rechts siehst du deinen Charakter: </br>Um ihn weiterzuentwickeln, bearbeite die nächste Lektion! 
                        </p>
                        <p>
                            Wenn du eine Lektion wiederholen willst, klicke sie rechts an. 
                        </p>
                        <p>
                            Über den Menü-Button kommst du zu den Kapiteln, die noch nicht freigeschaltet sind.
						</p>

						<p>Viel Erfolg bei der nächsten Lektion!</p>

						<div class="profile-options">
							<button class="button button-icon button-small icon ion-gear-a" ng-click="showProfileOptions()"></button>
						</div>
					</div>
					<div class="col col-50" id="profile_character">
						<img ng-src="./img/character/{{Data.user.levelprogress-1}}.png" alt="Charakter-Bild">
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<ion-list class="levellist">
				<ion-item>
					<button class="button button-block button-primary" ng-click="gotoCampaignLesson(1);">1: Schwertbegriffe</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 2}" ng-click="gotoCampaignLesson(2);">
					<button class="button button-block button-primary">2: Der Griff</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 3}" ng-click="gotoCampaignLesson(3);">
					<button class="button button-block button-primary">3: Beinarbeit</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 4}" ng-click="gotoCampaignLesson(4);">
					<button class="button button-block button-primary">4: Huten</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 5}" ng-click="gotoCampaignLesson(5);">
					<button class="button button-block button-primary">5: Quellen</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 6}" ng-click="gotoCampaignLesson(6);">
					<button class="button button-block button-primary">6: Angriffe</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 7}" ng-click="gotoCampaignLesson(7);">
					<button class="button button-block button-primary">7: Schnitttests</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 8}" ng-click="gotoCampaignLesson(8);">
					<button class="button button-block button-primary">8: Schutzausrüstung</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 9}" ng-click="gotoCampaignLesson(9);">
					<button class="button button-block button-primary">9: Mensur</button>
				</ion-item>
				<ion-item ng-class="{disabled: Data.user.levelprogress < 10}" ng-click="gotoCampaignLesson(10);">
					<button class="button button-block button-primary">10: Die fünf Wörter</button>
				</ion-item>
			</ion-list>
			
		</div>
	</div>
  </ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-view>
