<ion-view view-title="Tutorial" cache-view="false" class="tutorial">
	<ion-content scroll="false" class="padding pagecontent" >
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide>
				<img src="./img/tutorial/Tutorial_01.jpg" alt="help-slide">
			</ion-slide>
			<!--<ion-slide>
				<img src="./img/tutorial/Tutorial_02.jpg" alt="help-slide">
			</ion-slide>-->
			<ion-slide>
				<img src="./img/tutorial/Tutorial_03.jpg" alt="help-slide">
			</ion-slide>
			<ion-slide>
				<img src="./img/tutorial/Tutorial_04.jpg" alt="help-slide">
			</ion-slide>
			<ion-slide>
				<img src="./img/tutorial/Tutorial_05.jpg" alt="help-slide">
			</ion-slide>
			<ion-slide>
				<img src="./img/tutorial/Tutorial_06.jpg" alt="help-slide">
			</ion-slide>
			<ion-slide>
				<img src="./img/tutorial/Tutorial_07.jpg" alt="help-slide">
			</ion-slide>
			<ion-slide>
				<!--<div class="last-slide">
					<h1>Los geht's!</h1>
				</div>-->
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>