<ion-view view-title="Impressum" class="impressum">
  <ion-content class="padding pagecontent" scroll="true" >
    <div class="row"> 
		<div class="col col-33">
			<p>
				Dieses Projekt ist im Sommersemester 2015 im Fach E-Learning im Studiengang Digital Media an der Hochschule Ulm entstanden.
			</p>
			<h5>Projektleiterin</h5>
				<em>Prof. S. P. Radtke</em>
			<h5>Autoren/-innen und inhaltlich Verantwortliche</h5>	
			<ul>
				<li>Anna Gräter</li>
				<li>Felix Kern</li>
				<li>Insa Lappe</li>
				<li>Lydia Röntgen</li>
				<li>Ntimi Schnütgen</li>
			</ul>		
			<h5>Mitwirkende</h5>
			<p>
			<ul>
				<li>Alexander Fürgut</li>
				<li>Lukas Mästle-Goer</li>
				<li>Max Löhr</li>
				<li>Philipp Cichon</li>
				<li>Martin Scheu</li>
			</ul>	
			</p>
            <p>
            <ul>
                <h5>Musik</h5>
                <li>BoxCat Games: Epic Song </li>
                <li>MK2: Destructoid</li>
                <li>Podington Bear: Frosted Glass</li>
            </ul>
            </p>

			<p>Dieses Projekt ist urheberrechtlich geschützt. Alle Rechte liegen bei den Autoren/-innen, bzw. bei der Hochschule Ulm.</p>
		</div>
	</div>
  </ion-content>
</ion-view>