<ion-view view-title="Profile Creation" cache-view="false" class="profile-creation">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="padding pagecontent" >
		<div class="row single-row"> 
			<div class="col col-67">
				<h1>Erstelle ein neues Profil!</h1>
				<form ng-submit="createChar();">
					<input type="text" placeholder="Dein Name?" ng-model="data.username" class="nameInput">
					<input type="submit" value="Profil erstellen" class="button button-primary">
				</form>

				
			</div>
			<div class="col col-33" ng-show="data.userList.length > 0">
				<p>Registrierte Nutzer:</p> 
				<ul>
					<li ng-repeat="user in data.userList">{{user.name}}</li>
				</ul>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-primary">
	</ion-footer-bar>
</ion-view>