<ion-view view-title="Profile Creation" cache-view="false">
	<ion-content class="padding pagecontent" >
		<div class="row responsive-md"> 
			<div class="col col-67">
				<h1>Erstelle ein neues Profil!</h1>
				<form ng-submit="createChar();">
					<input type="text" placeholder="Dein Name?" ng-model="data.username">
					<input type="submit" value="Profil erstellen">
				</form>

				
			</div>
			<div class="col col-33" ng-show="data.userList.length > 0">
				<p>Registrierte Nutzer:</p> 
				<ul>
					<li ng-repeat="user in data.userList">{{user.name}}</li>
				</ul>
			</div>
		</div>
	</ion-content>
</ion-view>