<ion-view view-title="Testseite">
  <ion-content class="padding">
    <h1>Testseite</h1>
		<div class="row responsive-md"> 
			<div class="col list card">
				<div class="item item-divider">Ich mag... </div>
				<div class="item item-body">
					<div class="list">

						<label class="item item-radio">
							<input type="radio" name="group">
							<div class="item-content">
								Züge
							</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						
						<label class="item item-radio">
							<input type="radio" name="group">
							<div class="item-content">
								Autos
							</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						
						<label class="item item-radio">
							<input type="radio" name="group">
							<div class="item-content">
								Bären
							</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						
						<label class="item item-radio">
							<input type="radio" name="group">
							<div class="item-content">
								Ostereier
							</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
					</div>
				</div>
			</div>
			<div class="col">
				<button class="button button-block button-balanced">
					Block Button
				</button>
				<button class="button button-block button-energized">
					Block Button
				</button>
			</div>
		</div>
  </ion-content>
</ion-view>
