<ion-modal-view class="intro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
    <!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/02/02a.png" class="hintergrundbild" />
	  	<img src="./img/lessons/02/char02.png"  class="charakter" />
		<div class="row single-row"> 
			<!-- SPALTE: col-x definiert breite. -->
			<div class="col col-33 col-offset-67 intro-text-box">
				<h1>Der Griff</h1>				<p>Gratulation zu deinem ersten Schwert! </p><p>In dieser Lektion geht es darum, wie du dein Schwert am besten hältst. <br> Damit kannst du später beim Kämpfen auch deine ganze Kraft in einen Hieb oder eine Verteidigung legen. 
</p>
				<button class="button button-block button-primary" ng-click="closeIntro()">LOS GEHT'S!</button>
			</div>
		</div>
        
     
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>