<ion-view view-title="Praxis am Schwert" cache-view="false">
	<ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)" add-controls>
	<!-- SEITENINHALT START: -->
<!-- SEITE 1 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<h1>Der Griff</h1>
			<div class="first-page-container">
			<div class="row height-67">
				<!-- SPALTE: col-x definiert breite. -->
				<div class="col">
					<img src="./img/lessons/02/02b.png" class="breitbild" />
				</div>
			</div>
			<!-- DARUNTER LIEGENDER TEXT -->
			<div class="row height-33">
				<!-- Spalte 1 -->
				<div class="col col-33">
					<p>
						Es gibt zwei Möglichkeiten, das Schwert zu greifen: Den Hammergriff und den Daumengriff. <br > Sofern nicht anders beschrieben, wird für die nächsten Übungen immer der Hammergriff verwendet.
					</p>
				</div>
				<!-- Spalte 2 -->
				<div class="col col-33">
					<p>
						Beim Greifen sollte darauf geachtet werden, das Schwert fest, aber nicht verkrampft zu halten (es nicht zu „erwürgen“).
					</p>
				</div >
                <!-- Spalte 1 -->
				<div class="col col-33">
					 <p>  Außerdem sollte der Griff am Schwert flexibel sein. Er kann sich während der Übungen ändern.
					</p>
				</div>
			</div>
			</div>
		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row single-row">
				<!-- SPALTE: col-x definiert breite. -->                 <!-- Spalte 1 (hohe Spalte)-->
				<div class="col col-33">
					<h1>Der Griff</h1>
					<h3>Hammergriff </h3>
					<p>
						Das Schwert wird mit der führenden Hand (bei Rechtshändern rechts) unter der <span glossar="parierstange">Parierstange</span> gegriffen. Der Abstand der Hand zur Parierstange beträgt höchstens eine Fingerbreite. Dabei werden die Finger eng um den <span glossar="griff">Griff</span> gelegt, der Daumen fasst auf der entgegengesetzten Seite um den Griff. Streckt man den Zeigefinger aus, sollte er nun parallel zur Parierstange sein. <br><h3>Daumengriff</h3> Der Daumen zeigt diesmal senkrecht von den anderen Fingern weg (wie beim „Daumen hoch“-Zeichen) und liegt mittig auf der Parierstange oder <span glossar="klinge">Klinge</span> auf. Dieser Griff stabilisiert das Schwert am Daumen und macht einige spezielle Techniken (wie einige <span glossar="meisterhau">Meisterhäue</span>) möglich. Die zweite Hand greift hinten am <span glossar="knauf">Knauf</span>.
					</p>

				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-67">
						<ion-slide-box class="image-slider" delegate-handle="img_1" add-controls>
							<ion-slide>
								<img src="./img/lessons/02/Griffe/02.png" class="normalbild" />
								<div class="bildname">
									<p>Hammergriff (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/02/Griffe/03.png" class="normalbild" />
								<div class="bildname">
									<p>Daumengriff</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/02/Griffe/04.png" class="normalbild rechts" />
								<div class="bildname">
									<p>Hammergriff (Seite)</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>


					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33">
					<!-- Spalte 2 -->
						<div class="col col-50">
							<h3>Lange und kurze Schneide</h3>
							<p>Um beim Training bestimmen zu können, mit welcher der beiden Schneiden des Schwertes gearbeitet wird, gibt es die Begriffe lange und kurze Schneide.</p>

						</div>
					<!-- Spalte 3 -->
						<div class="col col-50">
							<p>Die lange Schneide ist die Schneide, auf die im Hammergriff der ausgestreckte Zeigefinger weist. Die kurze Schneide ist die zweite Schneide, welche im Hammergriff in Richtung des Handgelenks zeigt.</p>
						</div>
					</div>
				</div>
			</div>

		</ion-content>
	  </ion-slide>



	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
