<ion-modal-view class="outro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<div class="row single-row">
			<div class="col col-67">
				<h2>Deine Belohnung</h2>
				<!-- BILD (Belohnung) -->
				<img src="./img/lessons/02/2.png"  class="belohnung" />	
			</div>
			<div class="col col-33">

				<div class="abschlusstext">
					<h4>Der Griff</h4>					
					<p>
						Super! Jetzt hast du schon die zweite Lektion geschafft! <br>Da du jetzt weißt wie man ein Schwert richtig hält, bekommst du diese schicken Handschuhe. Die Handschuhe schützen nicht nur deine Finger, sondern auch das Schwert.</p><p> Fasst du ein Stahlschwert an, kann die Feuchtigkeit deiner Finger es schnell zum Rosten bringen.</p><p>In der nächsten Lektion geht es mit der Bewegung los! Zuerst sind die Beine dran!

				</div>

				<div class="weiter-box">
					<span>WEITER GEHT'S!</span>
					<button class="button button-clear weiter-button" ng-click="closeOutro(); gotoState('menu.campaign-lesson-' + (Lesson.lessonnumber+1));"></button>
				</div>
			</div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>