<ion-modal-view class="intro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/09/09a.png" class="hintergrundbild" />
	  	<img src="./img/lessons/09/char09.png" class="charakter" />
		<div class="row"> 			<!-- SPALTE: col-x definiert breite. -->			<div class="col col-33 col-offset-67 intro-text-box">				<h1>Mensur</h1>				<p>Da du inzwischen weißt, wie du dich schützt, können wir mit den Partnerübungen beginnen. <br>In dieser Lektion geht es um die verschiedenen Abstände die du im Kampf zu deinem Gegner haben kannst. Sie zu kennen ist wichtig um immer zu wissen, welche Distanz ein Angriff überbrücken können muss.
</p>
				<button class="button button-block button-primary" ng-click="closeIntro()">LOS GEHT`S!</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>