<ion-modal-view class="outro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<div class="row">
			<div class="col col-67">
				<h2>Deine Belohnung</h2>
				<!-- BILD (Belohnung) -->
				<img src="./img/lessons/09/9.png" class="belohnung" />	
			</div>
			<div class="col col-33">

				<div class="abschlusstext">
					<h4>Mensur</h4>
					<p>
						Klasse! Die neunte Lektion hast du erfolgreich abgeschlossen! <br>Jetzt kennst du sogar schon die Abstände im Gefecht! <br>Du hast die Tour schon fast abgeschlossen, da wird es Zeit sich herauszuputzen. Dieser schicke Umhang lässt jeden deiner Gegner vor Neid erblassen!<br>In der nächsten und letzten Lektion geht es um die Grundprinzipien der Lehre Liechtenauers.
					</p>
				</div>
				<div class="weiter-box">
					<span>AUF GEHT'S!</span>
					<button class="button button-clear weiter-button" ng-click="closeOutro(); gotoState('menu.campaign-lesson-' + (Lesson.lessonnumber+1));"></button>
				</div>
			</div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>