<ion-modal-view class="intro">
	<ion-content scroll="false">
		<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/03/bild.png" class="hintergrundbild" />
	  	<img src="./img/lessons/03/char03.png"class="charakter" />
		<div class="row"> 
			<!-- SPALTE: col-x definiert breite. -->
			<div class="col col-33 col-offset-67 intro-text-box">				<h1>Beinarbeit</h1>				<p>Wie du dein Schwert festhältst weißt du ja schon, Zeit, dass wir uns um deine Beine kümmern!<br>
Im Kampf musst du ohne viel nachzudenken immer in die richtige Position kommen. Damit du dabei nicht verwundbar bist ist es wichtig die richtigen Schritte zu kennen.
</p>
				<button class="button button-block button-balanced" ng-click="closeIntro()">LOS GEHT`S!</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-modal-view>