<ion-view view-title="Praxis am Schwert" cache-view="false">
	<ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)">
	<!-- SEITENINHALT START: -->

	<!-- SEITE 1 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- SPALTE: col-x definiert breite. -->
			<h2>Beinarbeit</h2>
			<!-- BREITES BILD -->

			<div class="first-page-container">
				<div class="row height-67"> 
					<img src="./img/lessons/03/03b.png" class="breitbild" />
				</div>

				<!-- DARUNTER LIEGENDER TEXT -->					
				<div class="row height-33">
					<!-- Spalte 1 -->
					<div class="col col-33">
						<p>
							Um schnell und flexibel in alle Richtungen angreifen und ausweichen zu können, ist ein guter Stand wichtig. Die Schritte werden zunächst nur vorwärts und rückwärts ausgeführt, können aber in alle Richtungen angewendet werden. 
						</p>
					</div>
					<!-- Spalte 2 -->                        
					<div class="col col-33">
						<p>
							Die Füße haben einen Abstand von etwa zwei Fußlängen, der vordere Fuß zeigt zum Gegner, der hintere Fuß steht etwa im 45°-Winkel zum vorderen Fuß. Hierbei muss man vor allem darauf achten, dass die Knie in dieselbe Richtung wie die Füße 
						</p>
					</div >                        
					<!-- Spalte 3 -->
					<div class="col col-33">
						<p>
							 weisen und nicht wegknicken. Die Knie sind gebeugt und das Körpergewicht gleichmäßig auf beiden Beinen verteilt.<br> Der Rücken bleibt dabei gerade.
						</p>
					</div >	
				</div>
			</div>
		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row single-row"> 
				<!-- SPALTE: col-x definiert breite. -->
				 <!-- Spalte 1 (hohe Spalte)-->				
				<div class="col col-33">					
					<h2>Beinarbeit</h2>					
					<h3>Passierschritt </h3>

					<p>Der Passierschritt oder auch „ganzer Schritt" ist ein Schritt, bei dem die Fußstellung wechselt. Der hintere Fuß passiert dabei den vorderen und bleibt vorne gerade ausgerichtet stehen. Währenddessen dreht sich der andere Fuß um 45° ein. </p>

                    <p>
                    	<em>TIPP: „Hoppeln" vermeiden: Schaue beim üben in einen Spiegel. Die Schultern sollen beim Laufen immer auf derselben Höhe bleiben.</em> 
                    </p> 
                    <h3>Halber Schritt</h3> 
                    <p>
                    	Beim halben Schritt bleibt derselbe Fuß vorne. Der vordere Fuß wird gehoben und mit der Ferse zuerst ein Stück nach vorne gesetzt, dann wird der hintere Fuß nachgezogen. <br> 
                    	Beim Rückwärtsgehen wird der hintere Fuß zuerst angehoben.
					</p>
				
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					
					<div class="row height-67"> 
						<!-- Hier werden die Videos Passierschritt und Halber Schritt eingebunden -->
						<ion-slide-box class="image-slider" delegate-handle="img_1" add-controls>
							<ion-slide>
								<video controls>
									<source src="./img/lessons/03/Halber_Schritt.mp4" type="video/mp4" />
									<source src="./img/lessons/03/Halber_Schritt.webm" type="video/webm" />
								</video>
								<div class="bildname">
									<p>Passierschritt</p>
								</div>
							</ion-slide>
							<ion-slide>
								<video controls>
									<source src="./img/lessons/03/Passierschritt_.mp4" type="video/mp4" />
									<source src="./img/lessons/03/Passierschritt_.webm" type="video/webm" />
								</video>
								<div class="bildname">
									<p>Halber Schritt</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33"> 
					<!-- Spalte 2 -->
						<div class="col col-50">
							<p>
								<em>TIPP: Beim Nachziehen die Füße nicht über den Boden schleifen lassen. Das funktioniert nur auf sauberen und glatten Böden.</em>
							</p>

						</div>
					<!-- Spalte 3 -->
						<div class="col col-50">
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	</ion-slide>

	<!-- SEITE 3 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<div class="game-container choose-video pagecontent">
				<div class="row single-row"> 
					<div class="col col-67" id="video-container">
						<h2>Beinarbeit</h2>
						<div class="video" id="video-halberschritt">
							<h3>Erstes Video: Halber Schritt</h3>
							<video width="100%" id="vid0">
								<source src="./img/lessons/03/halberschritt_1.mp4" type="video/mp4">
								Ups - dein Gerät unterstützt unsere Videodateien anscheinend nicht.
								Du darfst die Übung offiziell überspringen.
							</video>
							<div class="video-overlay">
								<button class="button button-block button-primary" ng-click="game.startVideo(0);">Video starten</button>
							</div>
						</div>
						<div class="video hidden" id="video-passierschritt">
							<h3>Zweites Video: Passierschritt</h3>
							<video width="100%" id="vid1">
								<source src="./img/lessons/03/passierschritt_1.mp4" type="video/mp4">
								Ups - dein Gerät unterstützt unsere Videodateien anscheinend nicht.
								Du darfst die Übung offiziell überspringen.
							</video>
							<div class="video-overlay">
								<button class="button button-block button-primary" ng-click="game.startVideo(1);">Video starten</button>
							</div>
						</div>
						<div class="hidden" id="button-box">
							<h4>Was war richtig?</h4>
							<button class="button" ng-click="game.choose(1);">Erste Version</button>
							<button class="button" ng-click="game.choose(2);">Zweite Version</button>
						</div>
					</div>
					<div class="col col-33 border-left">
						<h4>Welches war die richtige Schrittfolge?</h4>
						<p>Du bekommst Videos gezeigt, in denen ein Schritt auf zwei verschiedene Arten gezeigt wird.<br>
						Nur eine davon ist richtig! Wähle die richtige aus.</p>
					</div>
				</div>
			</div>
			<div class="row" id="preGameScreen"> 
				<h2>Beinarbeit</h2>
				<div class="col col-80 col-offset-10 text-center">
					<h3>Übung: Schrittfolgen erkennen</h3>
					<div class="row"> 
						<div class="col col-80 col-offset-10 instruction-box">
							<p>Bei einer Schrittfolge ist schnell etwas falsch gemacht - erkennst du, was?</p>
							<p>Du bekommst mehrere Videos gezeigt, wähle davon das Video aus, bei dem die Schritte <strong>richtig</strong> gemacht wurden.</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-30 col-offset-40">
							<button class="button button-block button-primary" ng-click="game.start();">Spiel Starten!</button>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>

	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
