<ion-modal-view class="outro">
	<ion-content scroll="false">
<div class="row">
			<div class="col col-67">
				<h2>Deine Belohnung</h2>
				<!-- BILD (Belohnung) -->
				<img src="./img/lessons/03/3.png" width="583" height="583"  class="belohnung" />	
			</div>
			<div class="col col-33">
				<div class="abschlusstext">					<h4>Beinarbeit</h4>					<p>Toll! Die dritte Lektion hast du erfolgreich abgeschlossen!<br>Inzwischen weißt du schon wie du deine Beine bewegst! Damit du auch weiter fleißig üben kannst erhältst du diese nagelneuen Lederstiefel!<br>In der nächsten Lektion können wir nun auch die Haltung der Arme üben.

</p>
				</div>
				<div class="weiter-box">
					<span>ZU RUHM UND EHRE!</span>
					<button class="button button-clear weiter-button" ng-click="closeOutro(); gotoState('menu.campaign-lesson-' + (Lesson.lessonnumber+1));"></button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>