<ion-modal-view class="intro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/01/01a.png"  class="hintergrundbild" />
	  	<img src="./img/lessons/01/char01.png" class="charakter" />
		<div class="row single-row"> 
			<!-- SPALTE: col-x definiert breite. -->
			<div class="col col-33 col-offset-67 intro-text-box">
				<h1>Schwertbegriffe</h1>				<p>Willkommen in der Lerntour! </p>                				<p>Schön, dass du dich entschieden hast die alte Kunst des Schwertkampfes zu erlernen! </p><p>				Zuerst lernst du hier wie man die einzelnen Teile des Schwerts nennt. Damit wird es leichter für dich die nächsten Lektionen zu verstehen und du bist reif für ein eigenes Schwert!
</p>
				
                <button class="button button-block button-primary" ng-click="closeIntro()">LOS GEHT'S!</button>
			</div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>