<ion-modal-view class="outro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false">
		<div class="row">
			<div class="col col-67">
				<h2>Deine Belohnung</h2>
				<!-- BILD (Belohnung) -->
				<img src="./img/lessons/08/8.png" class="belohnung" />	
			</div>
			<div class="col col-33">				
				<div class="abschlusstext">					
					<h4>Schutzausrüstung</h4>
					<p>
						Toll! Jetzt hast du auch die achte Lektion abgeschlossen!<br>Inzwischen weißt du welche Schutzausrüstung du noch brauchen wirst und es wird Zeit sie zu vervollständigen. Dafür erhältst du diesen Arm und Beinpanzer.<br>Als nächstes können wir mit den ersten PartnerÜbungen loslegen und die verschiedenen Abstände in einem Kampf erklären.
					</p>
				</div>
				<div class="weiter-box">
					<span>WEITER GEHT'S!</span>
					<button class="button button-clear weiter-button" ng-click="closeOutro(); gotoState('menu.campaign-lesson-' + (Lesson.lessonnumber+1));"></button>
				</div>
			</div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>