<ion-modal-view class="intro">
	<ion-content scroll="false">
		<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/09/Abstand/03.png" class="hintergrundbild" />
	  	<img src="./img/lessons/10/char10.png" class="charakter" />
		<div class="row"> 			<!-- SPALTE: col-x definiert breite. -->			<div class="col col-33 col-offset-67 intro-text-box">				<h1>Die fünf Wörter</h1>				<p>Du bist schon beinahe ein Fechter. Was jetzt noch fehlt sind die fünf Wörter, die eine zentrale Bedeutung für Liechtenauers Lehren haben. Kennst du diese kannst du dich in den meisten Kampfsituationen zurecht finden und auch komplexere Techniken verstehen.
</p>
				<button class="button button-block button-balanced" ng-click="closeIntro()">LOS GEHT`S!</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-modal-view>