<ion-view view-title="Hintergrundwissen" cache-view="false">
	<ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)">
	<!-- SEITENINHALT START: -->

	<!-- SEITE 1 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<h1>Die fünf Wörter</h1>
			<div class="first-page-container">
			<div class="row height-67"> 
				<img src="./img/lessons/10/10b.png" class="breitbild" />
			</div>
			
			<div class="row height-33">
				<div class="col col-33">
					<p>
						Die fünf Wörter sind das Kernkonzept von Liechtenauers Lehre. Stärke und Schwäche beschreiben, wie bereits erwähnt, die Bereiche der Schwertklinge.<br>
                        Vor, Nach, Indes beschreiben, welcher Fechter gerade die Initiative hat. 
					</p>
				</div>
				<!-- Spalte 2 -->
				<div class="col col-33">
					<p>
						Entweder ist ein Fechter im Vor und gleichzeitig der andere im Nach oder es befinden sich beide im Indes. 
					</p>
				</div >
				<div class="col col-33">
					<p> Es kann auch passieren, dass keiner im Vor, Nach oder Indes ist, wenn zum Beispiel noch gar kein Angriff statt gefunden hat.
                    Das Fühlen gehört zum Indes und ist eine Voraussetzung dafür, in der Bindung vom Nach zum Vor zu wechseln.</p>
				</div >	
			</div>
			</div>
		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			
			<div class="row single-row"> 
				<div class="col col-33">
					<h2>Die fünf Wörter</h2>
					<h3>Vor </h3> 
					<p>
						Im Vor zu sein bedeutet, die Initiative zu haben. Man agiert und der Gegner ist gezwungen zu reagieren. Im Vor greift man an und setzt seine eigenen Pläne um. Es ist daher im Freikampf ratsam nach Möglichkeit im Vor zu sein und den anderen nicht zum Agieren kommen zu lassen.
					</p><p><em>	TIPP: Im Freikampf ist es schwierig im Vor zu bleiben, wenn man vergisst seinen Ort auf den Gegner ausgerichtet zu lassen. Dieser kann dann, ohne bedroht zu werden, sofort angreifen. Lässt man den Ort ausgerichtet, muss der Gegner diesen zunächst beseitigen, bevor er angreift.</em>
					</p> 
                    	<h3>Nach</h3>
							<p>
								Im Nach ist man, wenn man auf eine Aktion des Gegners reagieren und sich verteidigen muss. </p>
				</div>
				<div class="col col-67">
					<div class="row height-67 image-slider"> 
						<div class="slider-slide">
							<video controls>
								<source src="./img/lessons/10/Vor_und_Nach_Indes.mp4" type="video/mp4" />
								<source src="./img/lessons/10/Vor_und_Nach_Indes.webm" type="video/webm" />
							</video>
							<div class="bildname">
								<p>Vor, Nach und Indes</p>
							</div>
						</div>
					</div>
					<!-- Jedes Bild hat einen Namen/Beschreibung -->
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33"> 
						<div class="col col-50">
						<p> Es ist schwieriger aus dem Nach zu treffen, da man nur anhand der Aktion des Gegners wählen kann, was man tut. 
							</p>
                           <p> Erkennt ein Fechter nicht, dass er im Nach ist, wird er entweder getroffen oder es kommt zu Doppeltreffern, da beide agieren, aber keiner reagiert.</p>

						</div>
					<!-- Spalte 3 -->
						<div class="col col-50">
                            <h3>Indes/Fühlen</h3>
					<p> 
						Indes spielt sich im Moment des Klingenkontakts ab, da hier die Verteilung von Vor und Nach wechseln kann und beide Fechter wieder die Möglichkeit haben, das Vor anzustreben.</p> 
						</div>
					</div>
				</div>
			</div>

			<quelle>
				<!-- EIN div Altdeutsch -->				
				<div class="alt">
                <h3>Original:</h3>
					<p>| Das ist das du albeg solt vor kömen es seÿ mit dem haw oder mit dem stich | ee wenn er | vnd wenn du ee kumpst mit dem haw oder süst das er dir vor setzñ mües | So arbait | Inndes behentlich In der versatzung für dich mit dem swert | oder sünst mit anderñ stucken | So mag er zu° kainen arbait komen ~ </p>
				</div>
				<!-- Ein Div Neudeutsch -->
				<div class="neu">
                <h3>Hochdeutsch:</h3>
					<p>Du sollst ihm stets zuvorkommen, sei es mit einem Hieb oder Stich. Wenn du ihm mit einem Hieb zuvorkommst, oder wenn du siehst, dass er dir versetzen muß, arbeite »indes« geschickt in der Versatzung vor dir mit dem Schwert, oder wende andere Stücke an. So kann er nicht erfolgreich angreifen.
 					</p>
				</div>
			</quelle>
			
		</ion-content>
	  </ion-slide>
	  
	  <!-- SEITE 3 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<div class="row single-row">
				<div class="col col-33">
					<h2>Die fünf Wörter</h2>
					<p> Das Fühlen gehört zum Indes und beschreibt, was beide Fechter im Moment des Klingenkontakts tun müssen, nämlich fühlen was der Gegner als Nächstes plant. <br>Je nachdem, mit wie viel Kraft und in welche Richtung ein Gegner mit seinem Schwert drückt, kann ein erfahrener Fechter dann die richtige Aktion wählen, um in das Vor zu kommen oder dort zu bleiben.

					</p>
					<h3>Stärke</h3>
					<p>
						Wie bereits zu Beginn erwähnt, ist die Stärke der Bereich des Schwertes, der vom Heft bis etwa zur Mitte der Klinge reicht. Ist das Schwert des Gegners in diesem Bereich angebunden, lässt sich leicht eine hohe Kraft darauf ausüben.
					</p>
				</div>
				<div class="col col-67">
					<div class="row height-67 image-slider"> 
						<div class="slider-slide">
							<video controls>
								<source src="./img/lessons/10/Vor_und_Nach_Indes.mp4" type="video/mp4" />
								<source src="./img/lessons/10/Vor_und_Nach_Indes.webm" type="video/webm" />
							</video>
							<div class="bildname">
								<p>Vor, Nach und Indes</p>
							</div>
						</div>
					</div>
					<!-- Jedes Bild hat einen Namen/Beschreibung -->
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33">
						<div class="col col-50">
							<p>
								Ist die Schwäche des Gegners in der eigenen Stärke, lässt sich dessen Schwert kontrollieren, da man das bessere Hebelverhältnis hat.
							</p>
							<h3>Schwäche</h3>
							<p>
								Die Schwäche reicht etwa von der Klingenmitte bis zum Ort.  
							</p>
						</div>
					<!-- Spalte 3 -->
						<div class="col col-50">
							<p>
								Meist ist dies der Bereich, der den Gegner verletzen soll. Ist die Klinge gebunden, ist es schwieriger, durch diesen Bereich eine hohe Kraft auszuüben und das Schwert des Gegners zum Beispiel zur Seite zu schieben, um den Ort auszurichten und das Vor zu erlangen.
							</p>
						</div>
					</div>
				</div>
			</div>

			<quelle>
				<div class="alt">
					<h3>Original:</h3>
					<p>| Das nach das sind die prüch wider alle stuck | vnd häw die man auff dich treibt | vnd das vernÿm also | wenn er ee ku~pt mit dem haw | wenn du das im versetzen muest | So arbait Inndes mit dein° vorsatzung behendlich mit dem swert zu° der nagsten plöss | So prichstu ÿm sein vor mit deinem nach ~</p>
				</div>
				<div class="neu">
					<h3>Hochdeutsch:</h3>
					<p>Das »Nach« sind die Brüche gegen alle Stücke und Hiebe, die man gegen dich richtet. Das ist so zu verstehen: Wenn er dir mit dem Hieb zuvorkommt und du im diesen versetzen mußt, so arbeite indes mit deiner Versatzung geschickt mit dem Schwert zu der nächsten Blöße. So brichst du ihm sein »Vor« mit deinem »Nach«.
					</p>
				</div>
			</quelle>
			
		</ion-content>
	  </ion-slide>

	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
