<game-cutting-up></game-cutting-up>
			<div class="row" id="preGameScreen"> 
				<h2>Beinarbeit</h2>
				<div class="col col-80 col-offset-10 text-center">
					<h3>Übung: Schnitte einzeichnen</h3>
					<div class="row"> 
						<div class="col col-80 col-offset-10 instruction-box">
							<p>Im Eifer des Gefechts muss man jeden Hieb schnell parat haben. Beweise dein Können, indem du die Puppe mit den angezeigten Techniken angreifst.</p>
							<p>Zeichne die Hiebe an der richtigen Position aus der richtigen Richtung auf die Puppe ein.</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-30 col-offset-40">
							<button class="button button-block button-primary" ng-click="game.start();">SPIEL STARTEN!</button>
						</div>
					</div>
				</div>
			</div>