<ion-modal-view class="intro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/06/06a.png" class="hintergrundbild" />
	  	<img src="./img/lessons/06/char06.png" class="charakter" />
		<div class="row"> 
			<!-- SPALTE: col-x definiert breite. -->			
			<div class="col col-33 col-offset-67 intro-text-box">				
				<h1>Angriffe</h1>
				<p>
					Inzwischen hast du genug Grundlagenwissen angesammelt, um die ersten Angriffe zu erlernen. <br>
					Angriffe sehen zunächst einfach aus, aber lass dich nicht täuschen. Um das volle Schadenspotential zu entfalten, müssen sie präzise und entschlossen ausgeführt werden.
				</p>
				<button class="button button-block button-primary" ng-click="closeIntro()">LOS GEHT`S!</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>