<ion-modal-view class="outro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<div class="row">
			<div class="col col-67">
				<h2>Deine Belohnung</h2>
				<!-- BILD (Belohnung) -->
				<img src="./img/lessons/06/6.png" class="belohnung" />	
			</div>
			<div class="col col-33">

				<div class="abschlusstext">
					<h4>Angriffe</h4>
					<p>Super! Du hast die sechste Lektion abgeschlossen! <br>Jetzt beherrscht du schon die ersten Angriffe!<br>Dieser große Schritt Richtung Fechter verlangt nach einer ebenso großen Belohnung! Dieser Brustharnisch soll dich in Zukunft vor Angriffen schützen! <br>In der nächsten Lektion ist Schluss mit Übungsschwertern. Es geht um den Einsatz scharfer Stahlwaffen!

</p>
				</div>
				<div class="weiter-box">
					<span>AUF GEHT'S!</span>
					<button class="button button-clear weiter-button" ng-click="closeOutro(); gotoState('menu.campaign-lesson-' + (Lesson.lessonnumber+1));"></button>
				</div>
			</div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>