.glossar-table {
	width: 100%;
	.glossar-title {
		width: 33%;
		font-weight: bold;
		text-align: right;
		padding: 0.5em 1em;
	}
	.glossar-description {
		width: 67%;
		padding: 0.5em 3em 0.5em 1em ;
	}
}