.tutorial {
	.slider, .slider.slides, .slide {
		height: 100%;
		width: 100%;
		img {
			width: 100%;
			pointer-events: none;
		}
	}
	div.last-slide {
		text-align: center;
		position: absolute;
		width: 200px;
		height: 50px;
		overflow: hidden;
		left: 50%;
		margin-left: -100px;
		top: 50%;
		margin-top: -25px;
	}
}

.start {
	background-color: #000;
	
	video {
		position: absolute;
		width: 100%;
		top: 13%;
	}
}