.profile {
	background: pink;
	#profile_character {
		text-align: center;
		position: relative;
		img {
			position: absolute;
			bottom: 0px;
			right: 0px;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.profile_text {
		position: relative;
		strong {
			color: $highlight;
		}
	}
	.profile-card {
		height: 100%;
		margin-top: 0px;
		.item-text-wrap {
			height: calc(100% - 40px);
			.col {
				position: relative;
			}
			
		}
		.profile-options {
			position: absolute;
			bottom: 0px;
			width: 100%;
			text-align: left;
			button {
				color: $highlight;
			}
			i, span {
				font-size: 1em;
				:before {
					font-size: 1em;
				}
			}
		}
	}
	.levellist {
		.item {
			padding: 0px;
			background: none;

			border: none;

			.button.button-primary {
				margin: 0px;
				&:nth-of-type(10) {
					background: none;
				}
			}
		}
	}
}