.pagecontent, .first-page-container {
	.first-page-container {
		height: calc(100% - 50px);
		top: 50px;
		position: absolute;
		width: 100%;
		& > .row {
			padding: 5px 0px;
		} 
		.row:nth-of-type(1) {
			position: relative;
			overflow: hidden;
			padding-bottom: 10px;
			&:after {
				content: '';
				height: 0.2em;
				width: 100%;
				position: absolute;
				left: 0px;
				bottom: 0px;
				background-color: transparent;
				background-image: url(../img/bar-end-stroke.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom;
			}
		}
	}
	padding: 0px;
	& > .row {
		margin-left: $bar-height;
		width: calc(100% - #{$bar-height} - #{$bar-height});
	}
	& > h2, & > h1 {
		position: absolute;
		left: $bar-height;
		top: 15px;
	}
	.col {
		padding-left: 15px;
		padding-right: 15px;
	}
	.col:first-of-type {
		padding-left: 0px;
	}
	.col-33:nth-of-type(3), .col-25:nth-of-type(4), .col-50:nth-of-type(2), .col-67:nth-of-type(2) {
		padding-right: 0px;
	}
	// ROWS:
	// more space to the top:
	.row:nth-of-type(1), .row.single-row:nth-of-type(1) {
		padding-top: 10px;
	}
	.row + .row {
		margin-top: 0px;
	}
	.row.single-row {
		padding: 5px 0px;
	}
}

.instruction-box {
	min-height: 200px;
	/*border: 1px solid grey;
	background-color: $primary !important;*/
	padding: 20px;
	font-size: 1.2em;
	border-radius: 10px;
}

.breitbild {
	max-width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: contain;
	margin: 0px auto;
}
/*.scroll {
	min-height: 100%;
}*/

.lesson-page-container.slider {
	height: 100%;
	background-color: $secondary;

	.scroll-content {
		bottom: $bar-footer-height;
	}

	&:after {
		display: block;
		height: $bar-footer-height;
		content: '';
		width: 100%;
		position: absolute;
		bottom: 0px;
		background-color: $primary;
		background-image: url(../img/bar-end-stroke.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
	}
	.slider-pager {
		@include transition(transform cubic-bezier(.1, .7, .1, 1) 1000ms);
		&.hidden {
			display: block;
			transform: translate3d(0px, 50px, 0px);
			-webkit-transform: translate3d(0px, 50px, 0px);
		}
		span.slider-pager-page {
			i:before {
				color: $highlight;
			}
		}
	}
}

.scroll-content {
	background-color: $secondary;

	.row, .col {
		background-color: $secondary;
		&.height-50 {
			height: 50%;
		}
		&.height-25 {
			height: 25%;
		}
		&.height-75 {
			height: 75%;
		}
		&.height-33 {
			height: 33%;
		}
		&.height-67 {
			height: 67%;
		}
		&.height-100 {
			height: 100%;
		}
		&.border-left {
			border-left: 1px solid $highlight;
			padding-left: 20px;
		}
	}
	.row.single-row {
		height: 100%;
		position: relative;
		& > .col {
			height: 100%;
		}
	}

	.col {
		background-color: $secondary;
	}
}

.right {
	position: absolute; 
	right: 0px;
}

.item {
	&:active {
		background-color: $primary;
	}
}

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}