.scroll {
	min-height: 100%;
}
.lesson-page-container.slider {
	height: 100%;
	background-color: $secondary;

	.scroll-content {
		bottom: $bar-footer-height;
	}

	&:after {
		display: block;
		height: $bar-footer-height;
		content: '';
		width: 100%;
		position: absolute;
		bottom: 0px;
		background-color: $primary;
		background-image: url(../img/bar-end-stroke.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
	}
}

.scroll-content {
	background-color: $secondary;

	.col {
		background-color: $secondary;
	}
}