.item.disabled {
	opacity: 0.4;
	pointer-events: none;
	cursor: default;
}

.button.quelle-button {
	background-image: url(../img/icons/Quelle.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 10px;
	bottom: 20px;
	height: 40px;
	width: 50px;
	display: block;
	border: none;
	outline: none;
	max-height: 100px;
	max-width: 100px;
}