.modal{
	// --- DRAG STATE FOR MENU MODAL: ---
	&.dragged {
		@include transition(scale cubic-bezier(.1, .7, .1, 1) 400ms);
	}
}
// MAKING THE MODALS FULLSCREEN ON IPAD (AND BIGGER SCREENS)
@media (min-width: 680px) {
	.modal {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
	}
}