h1, h2 {
	font-weight: bold;
	font-size: 1.3em;
	color: $highlight;
	text-transform: uppercase;
}
h3 {
	font-size: 1.2em;
}

.text-center {
	text-align: center;
}

.glossarwort {
	color: $highlight;
}

.clickable {
	cursor: pointer;
}

.hidden {
	display: none;
}

