/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$primary: #F4F1E4 !default;
$secondary: #FFFDF8 !default;
$highlight: #AE3E3B !default;

$button-primary-bg:                  $primary !default;
$button-primary-text:                #AE3E3B !default;
$button-primary-border:              #AE3E3B !default;
$button-primary-active-bg:           #E6E7E9 !default;
$button-primary-active-border:       #AE3E3B !default;

$bar-transparency:                	1;
$bar-primary-bg:                    rgba($button-primary-bg, $bar-transparency) !default;
$bar-primary-text:                  $button-primary-text !default;
$bar-primary-border:                $button-primary-bg !default;
$bar-primary-active-bg:             $button-primary-active-bg !default;
$bar-primary-active-border:         $button-primary-active-border !default;

/* TYPE: */
$font-family-sans-serif:          "Lato", "Helvetica Neue", "Roboto", sans-serif !default;
$font-family-light-sans-serif:    "LatoLight", "HelveticaNeue-Light", "Roboto-Light", sans-serif-light !default;
$font-family-semibold-sans-serif: "LatoSemibold", "HelveticaNeue-Semibold", "Roboto-Semibold", sans-serif-bold !default;

$font-family-base:                $font-family-sans-serif !default;
$headings-font-family:            $font-family-semibold-sans-serif !default;
$headings-font-weight:            500 !default;