.game-container {
	height: 100%;
	width: 100%;
	position: relative;
	//border: 1px solid blue;

	.hidden {
		display: none;
	}

	.target-box {
		height: 100%;
		width: 50%;
		position: absolute;
	}
	
	.object-positioned {
		position: absolute;
		left: 0px;
		top: 0px;
		//-webkit-transition: all 10s;
	}

	.drag-item {
		cursor: default;
		position: absolute;
		left: 0px;
		top: 0px;
		transition: all 1s;
		-webkit-transition: all 1s;
	}
	.dragged-item {
		position: absolute;
		left: 0px;
		top: 0px;
		//border: 1px solid red;
	}

	.drag-target {
		position: absolute;
		left: 0px;
		top: 0px;
		//outline: 1px solid limegreen;
	}
}