.game-container.sword-parts {
	padding: 15px 66px 0px 66px;
	position: relative;

	// Der Container, in dem die Schwertteile am Anfang liegen:
	.swordparts {
		width: 33%;
		height: 50%;
		left: 0%;
		top: 0px;
		position: absolute;
	}

	.sword-text {
		height: 2em;
		overflow: hidden;
		position: absolute;
		color: $highlight;
		font-weight: bold;
		&.object-positioned {
			background-color: $secondary;
		}
	}
	.sword-texts {
		top: 120px;

		.sword-text {
			width: 8em;
			&.dragged-item {
				//text-align: center;
			}
		}
	}
	#begriff-knauf {
		top: 0px;
		&.object-positioned {
			margin-left: 75%;
			width: 50%;
			text-align: center;
			margin-top: 2%;
		}
	}
	#begriff-griff {
		top: 2em;
		&.object-positioned {
			margin-left: 75%;
			width: 50%;
			text-align: center;
			margin-top: 2%;
		}
	}
	#begriff-parierstange {
		top: 4em;
		&.object-positioned {
			margin-left: 75%;
			width: 50%;
			text-align: center;
			margin-top: 0%;
		}
	}
	#begriff-staerke {
		top: 6em;
		&.object-positioned {
			margin-left: 75%;
			width: 50%;
			text-align: center;
			margin-top: 16%;
		}
	}
	#begriff-schwaeche {
		top: 8em;
		&.object-positioned {
			margin-left: 75%;
			width: 50%;
			text-align: center;
			margin-top: 4%;
		}
	}
	#begriff-ort {
		top: 10em;
		&.object-positioned {
			margin-left: 75%;
			width: 50%;
			text-align: center;
			margin-top: 0%;
		}
	}
	#begriff-klinge {
		top: 12em;
		&.object-positioned {
			margin-left: -25%;
			width: 50%;
			text-align: center;
			margin-top: 60%;
		}
	}
	#begriff-heft {
		top: 14em;
		&.object-positioned {
			margin-left: -25%;
			width: 50%;
			text-align: center;
			margin-top: 12%;
		}
	}
	div {
		height: 0px;
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
	}
	.object-positioned {
		pointer-events: auto;
		cursor: none;
	}
	.textContainer {
		width: 33%;
		height: 100%;
		position: absolute;
	}
	.target-box {
		left: 33%;
		width: 67%;
		height: 100%;
		text-align: center;
		.drop-target-box {
			//border: 2px solid $highlight;
			background-color: $primary;
		}
	}

	// ASPECT RATIO:
	.width-limiter {
		position: relative;
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	.sword-ratio-container {
		width: 100%;
		padding-top: 177.8%;
		position: absolute;
		top: 0px;
	}
	/*.sword-ratio-container {
		width: 67.5%;
		padding-top: 120%;
		position: absolute;
		top: 0px;
	}*/

	.transparent {
		opacity: 0;
	}

	#knauf {
		top: 90%;
		//height: 72px;
		width: 100%;
		padding-top: 16%;
		background-image: url(../img/lessons/01/knauf.png);
	}
	#knauf-target {
		top: 0%;
		width: 100%;
		padding-top: 16%;
		height: 100%;
	}
	#griff {
		top: 38%;
		//height: 101px;
		width: 100%;
		padding-top: 22%;
		background-image: url(../img/lessons/01/griff.png);
	}
	#griff-target {
		margin-top: calc(-8.5% * 1.78);
		top: 8.5%;
		width: 100%;
		padding-top: 22%;
		height: 100%;
	}
	#parierstange {
		top: 83%;
		//height: 40px;
		padding-top: 14%;
		width: 100%;
		background-image: url(../img/lessons/01/kreuz.png);
	}
	#parierstange-target {
		margin-top: calc(-20.5% * 1.78);
		top: 20.5%;
		width: 100%;
		padding-top: 14%;
		height: 100%;
	}
	#staerke {
		top: 51%;
		//height: 255px;
		padding-top: 56%;
		width: 100%;
		background-image: url(../img/lessons/01/staerke.png);
	}
	#staerke-target {
		margin-top: calc(-22% * 1.78);
		top: 22%;
		width: 100%;
		padding-top: 56%;
		height: 100%;
	}
	#schwaeche {
		top: 0%;
		//height: 300px;
		padding-top: 66%;
		width: 100%;
		background-image: url(../img/lessons/01/schwaeche.png);
	}
	#schwaeche-target {
		margin-top: calc(-53.5% * 1.78);
		top: 52.5%;
		width: 100%;
		padding-top: 66%;
		height: 100%;
	}
	#ort {
		top: 86%;
		//height: 67px;
		padding-top: 14%;
		width: 100%;
		background-image: url(../img/lessons/01/ort.png);
	}
	#ort-target {
		margin-top: calc(-90.5% * 1.78);
		top: 89%;
		width: 100%;
		padding-top: 14%;
		height: 100%;
	}
	#begriff-ort-target {
		top: 90.5%;
		width: 100%;
		height: auto;
		padding-top: 14%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-schwaeche-target {
		top: 53.5%;
		width: 100%;
		height: auto;
		padding-top: 66%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-staerke-target {
		top: 22%;
		width: 100%;
		height: auto;
		padding-top: 56%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-parierstange-target {
		top: 19%;
		width: 100%;
		height: auto;
		padding-top: 14%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-griff-target {
		top: 8.5%;
		width: 100%;
		height: auto;
		padding-top: 22%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-knauf-target {
		top: 0%;
		width: 100%;
		height: auto;
		padding-top: 16%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-klinge-target {
		top: 20.5%;
		width: 100%;
		height: auto;
		padding-top: 130%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
	#begriff-heft-target {
		top: 0%;
		width: 100%;
		height: auto;
		padding-top: 40%;
		/*&:hover {
			background-color: limegreen;
		}*/
	}
}