<ion-view view-title="Lektion 5" cache-view="false">
	<ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)">
	<!-- SEITENINHALT START: -->
<!-- SEITE 1 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->

			<h2>Quellen</h2>
			<div class="first-page-container">
			<!-- BREITES BILD -->
			<div class="row height-67"> 
				<img src="./img/lessons/05/05b.png" class="breitbild" />
			</div>
			<!-- DARUNTER LIEGENDER TEXT -->
			<div class="row height-33">
				<!-- Spalte 1 -->
				<div class="col col-33">
					<p>
						Da zum Kampf mit dem Langen Schwert keine lebendige Tradition erhalten geblieben ist, müssen die Techniken aus alten Manuskripten abgeleitet werden, den Fechtbüchern. Diese wurden meist von reichen Geldgebern bei den Fechtmeistern in Auftrag gegeben. 
					</p>
				</div>
				<!-- Spalte 2 -->
				<div class="col col-33">
					<p>
						Manchmal wurde sogar zusätzlich ein Maler engagiert, um das Buch mit Illustrationen zu versehen. <br> Die ältesten der uns erhaltenen Quellen stammen aus dem 13. Jahrhundert und beinhalten auch Anleitungen zum Kampf mit anderen Waffen oder zum waffenlosen Kampf.

					</p>
				</div >
				<!-- Spalte 3 -->
				<div class="col col-33">
					<h3>Schulen</h3>  
					<p>
						Die Quellen zum Langen Schwert spalten sich in die italienische und die deutsche Schule auf, deren Prinzipien und Techniken sich teils ähneln, teils aber auch stark unterscheiden. 
					</p>
				</div >	
			</div>
			</div>

		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row single-row"> 
				<!-- SPALTE: col-x definiert breite. -->
				 <!-- Spalte 1 (hohe Spalte)-->
				<div class="col col-33">					
					<h2>Quellen</h2>					
					<p>
						Typische Fechtmeister der italienischen Schule, welche Fechtbücher verfassten, sind Fiore de'i Liberi und Filippo Vadi. </p><p>In dieser App geht es aber ausschließlich um die deutsche Schule, die auf den Fechtmeister Johannes Liechtenauer zurückgeht. 
					</p>
					<h3>Liechtenauer</h3>
					<p>
						Obwohl von Liechtenauers Leben nicht viel bekannt ist (es ist nicht mal sicher ob er im 13. oder 14. Jahrhundert lebte), war sein Einfluss auf die deutsche Schule gewaltig. </p><p> Von ihm selbst stammt nur ein Gedicht mit Merkversen zum Schwertkampf, welches später von anderen Fechtmeistern aufgegriffen und kommentiert wurde. 
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-67"> 
						<ion-slide-box class="image-slider" prevent-drag>
							<ion-slide>
								<img src="./img/lessons/05/q3.png" class="normalbild" />
								<div class="bildname">
									<p>Der Fechtmeister Liechtenauer</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/05/q1.png" class="normalbild" />
								<div class="bildname">
									<p>Die Huten Pflug und Ochs</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/05/q2.png" class="normalbild" /> 
								<div class="bildname">
									<p>Die Huten vom Tag und Alber</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
					  

					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33"> 
						<!-- Spalte 2 -->
						<div class="col col-50">
							<p>
								Da die Verse selbst sehr knapp und absichtlich kryptisch geschrieben sind, um keine Geheimnisse der Kunst preiszugeben, sind wir auf die Arbeiten seiner Schüler angewiesen, um zu verstehen, was damit gemeint sein könnte.  
							</p>

						</div>
						<!-- Spalte 3 -->
						<div class="col col-50">
							<p>
								Alle Quellentexte in dieser App stammen beispielsweise aus der Handschrift Codex 44.A.8, auch genannt das Peter von Danzig Fechtbuch.<br>
								Die Texte wurden von Dierk Hagedorn transkribiert und übersetzt.
							</p>
						</div>
					</div>
				</div>
			</div>
						
		</ion-content>
	</ion-slide>

		<!-- SEITE 3 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row single-row"> 
				<!-- SPALTE: col-x definiert breite. -->
				 <!-- Spalte 1 (hohe Spalte)-->				
				 <div class="col col-33">
				 	<h2>Quellen</h2>
				 	<h3>Interpretation</h3>
				 	<p>
				 		Selbst bei den detailliertesten textuellen Anweisungen werden natürlich immer wieder Fragen aufgeworfen. Teils zu Details, die es vielleicht nicht in den Text geschafft haben, teils zu den Grundvoraussetzungen, die der Autor zu seiner Zeit für selbstverständlich hielt.</p><p> 
				 		Da niemand lebt, dem diese Fragen gestellt werden können, ist es nötig die Texte zu interpretieren. Diese Interpretationen sind es unter anderem, die den Historischen Schwertkampf zu so einer einzigartigen Sportart machen. </p><p> 
				 		Auch wenn in einigen Punkten weitgehend Einigkeit herrscht, so interpretiert doch jeder Einzelne gewisse Details unterschiedlich. 
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-67"> 
						<ion-slide-box class="image-slider" prevent-drag>
							<ion-slide>
								<img src="./img/lessons/05/q4.png" class="normalbild" />
								<div class="bildname">
									<p>Eine Seite aus dem Codex 44.A.8</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
				  
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33"> 
						<!-- Spalte 2 -->						
						<div class="col col-50"> 							
							<p>
								Es ist nicht möglich zu sagen, welche die tatsächlich damals verwendete Version einer Technik war, doch kann davon ausgegangen werden, dass auch im Mittelalter  
							</p>
						</div>
                        <!-- Spalte 3 -->						
						<div class="col col-50"> 							
							<p>
								bereits verschiedene Versionen existierten.<br>
								Dies macht den Austausch mit anderen Fechtern zu einem essentiellen Teil des Sports.  
							</p>
						</div>
					</div>
				</div>
			</div>
						
		 </ion-content>
	  </ion-slide>
<!-- SEITE 4 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<game-quellen>
				<div class="row game-container quellen"> 
					<div class="col col-67">
						<div class="quellentext">{{game.text}}</div>
						<h5>{{game.question}}</h5>
						<ul>
							<li ng-repeat="answer in game.answers" class="answer" ng-click="game.selectAnswer($event)">{{answer}}</li>
						</ul>
						<button class="button button-balanced" disabled="true" id="finishedButton">{{game.buttonText}}</button>
					</div>
					<div class="col col-33 border-left">
						<button class="button button-block button-primary" ng-click="game.showHelp();">Hilfe anzeigen</button>
						<span>{{game.help}}</span>
					</div>
				</div>
			</game-quellen>
			<div class="row" id="preGameScreen"> 
				<div class="col col-80 col-offset-10 text-center">
					<h3>Übung: Quellenlesen</h3>
					<div class="row"> 
						<div class="col col-80 col-offset-10 instruction-box">
							<p>
								Willst du Quellentexte interpretieren können musst du zunächst lernen sie zu lesen.
							</p>
							<p>Lies den Quellentext und beantworte die Frage dazu. </p>
							<p> Falls du Hilfe brauchst sieh dir die Übersetzung an!</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-30 col-offset-40">
							<button class="button button-primary" ng-click="game.start();">SPIEL STARTEN!</button>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>

			
		</ion-content>
	  </ion-slide>
	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
