<ion-view view-title="Lektion 4" cache-view="false">
  <ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)">
	<!-- SEITENINHALT START: -->

	<!-- SEITE 1 -->
	<ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			
			<h1>Huten</h1>
			<!-- EinleitungsBild -->
			<div class="row height-67"> 
				<img src="./img/lessons/04/04b.png" class="breitbild" />
			</div>

			<!-- DARUNTER LIEGENDER TEXT -->
			<div class="row height-25">
				<!-- Spalte 1 -->
				<div class="col col-33">
					<p>
						Die Huten sind die Grundpositionen, aus denen mit dem Schwert gefochten wird. <br>Jeder Hieb oder Stich beginnt und endet in einer Hut. Im freien Kampf sind die Huten keine statischen Haltungen, sondern Zwischenpositionen, in die immer wieder zurückgekehrt werden kann. 
					</p>
				</div>
				<!-- Spalte 2 -->
				<div class="col col-33">
					<p>
						Die vier wichtigsten Huten nach Peter von Danzig sind der Ochs, der Pflug, der Alber und die Hut vom Tag.
					</p>
				</div >
				<!-- Spalte 3 -->
				<div class="col col-33">
					<p></p>
				</div >	
			</div>
				
		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row"> 
				<!-- SPALTE: col-x definiert breite. -->
				<!-- Spalte 1 (hohe Spalte)-->				
				<div class="col col-33">					
					<h1>Huten</h1>					
					<h3>Ochs</h3>
					<p>
						Im rechten Ochs steht man mit dem linken Fuß vorne und hält das Schwert rechts oben, mit dem <span glossar="ort">Ort</span> zum Gegner. Die <span glossar="parierstange">Parierstange</span> ist dabei vor dem Kopf, der <span glossar="griff">Griff</span> Stirnhöhe neben dem Kopf. Die <span glossar="lange_schneide">lange Schneide</span> zeigt im 45°-Winkel nach oben, vom Körper weg. <br >Auf der linken Seite genauso verfahren, hier steht nun der rechte Fuß vorne.</p> <p>TIPP:Die Arme nicht vor das Gesicht halten, man soll am Schwert vorbei den Gegner sehen können.<br >Die Handgelenke sollen nicht abgeknickt werden, da Schläge auf das Schwert in dieser Position sonst schädlich für die Gelenke sein können.
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-75"> 
						<ion-slide-box class="image-slider" prevent-drag>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/07.png" class="normalbild" />
								<div class="bildname">
									<p>Rechter Ochs (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/08.png" class="normalbild" />
								<div class="bildname">
									<p>Linker Ochs (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/09.png" class="normalbild" />
								<div class="bildname">
									<p>Linker Ochs (Seite)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/10.png" class="normalbild" />
								<div class="bildname">
									<p>Rechter Ochs (Seite)</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
					
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-25"> 
					<!-- Spalte 2 -->
						<div class="col col-33">
							<p> </p>

						</div>
					<!-- Spalte 3 -->
						<div class="col col-33">
							<p></p>
						</div>
					</div>
				</div>
			</div>

			<quelle>
				<!-- EIN div Altdeutsch -->
				<div class="alt">
					<p>
						Die erst hu°tt ist | vnd haist der ochs | do schick dich also mit | Stee mit dem lincken fuess vor vñ halt dein swert neben deiner rechten seittñ mit dem gehültz vor dem haubt das dein dawmen vnder dem swert sey | vnd heng ÿm den ort gegen dem gesicht
					</p>
				</div>
				<!-- Ein Div Neudeutsch -->				
				<div class="neu">
					<p>
						Die erste Hut nennt sich Ochs und wird folgendermaßen ausgeführt: Steh mit dem linken Fuß vor und halt dein Schwert neben deiner rechten Seite mit dem Gehilz vor den Kopf, so dass sich dein Daumen unter dem Schwert befindet. Häng ihm den Ort zum Gesicht. 
					</p>
				</div>
			</quelle>
		</ion-content>
	</ion-slide>
			
			<!-- SEITE 3 -->
	<ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row"> 
				<!-- SPALTE: col-x definiert breite. -->
				 <!-- Spalte 1 (hohe Spalte)-->
				<div class="col col-33">
					<h1>Huten</h1>
					<h3>Pflug</h3>
					<p>
						Im rechten Pflug ist der linke Fuß vorne. Das Schwert wird rechts neben der Hüfte gehalten, wobei der <span glossar="ort">Ort</span> zum Gesicht des Gegners zeigt. Die <span glossar="kurze_schneide">kurze Schneide</span> befindet sich dabei oben.<br >Auf der linken Seite ist wieder der rechte Fuß vorne und die <span glossar="lange_schneide">lange Schneide</span> weist nach oben.</p><p>TIPP: Kann das Schwert rechts mit gekreuzten Armen nicht neben der Hüfte gehalten werden, ist es möglich, mit der Hand vom Knauf ein Stück den Griff hochzurutschen.
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-75"> 
						<ion-slide-box class="image-slider" prevent-drag>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/01.png" class="normalbild" />
								<div class="bildname">
									<p>Linker Pflug (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/02.png" class="normalbild" />
								<div class="bildname">
									<p>Rechter Pflug (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/03.png" class="normalbild" />
								<div class="bildname">
									<p>Linker Pflug (Seite)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/05.png" class="normalbild" />
								<div class="bildname">
									<p>Rechter Pflug (Seite)</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-25"> 
					<!-- Spalte 2 -->
						<div class="col col-33">
							<p> </p>

						</div>
					<!-- Spalte 3 -->
						<div class="col col-33">
							<p></p>
						</div>
					</div>
				</div>
			</div>

			<quelle>
				<!-- EIN div Altdeutsch -->
				<div class="alt">
					<p>
						| Merck die ander hu°tt haist der phlueg | da schick dich also mit | Stee mit dem lincken fuess vor | vnd halt dein swert mit gekrautztñ henden mit dem knopff vnder sich neben deiner rechten seitten | zu° der hüff das die kurtz schneid oben seÿ | vnd der ort im stee gegen dem gesicht 
					</p>
				</div>
				<!-- Ein Div Neudeutsch -->				
				<div class="neu">
					<p>
						Die zweite Hut heißt Pflug und wird so gemacht: Steh mit dem linken Fuß vor und halt dein Schwert mit gekreuzten Händen und nach unten weisendem Knauf neben deiner rechten Seite an der Hüfte. Die kurze Schneide befindet sich oben und der Ort zeigt ihm ins Gesicht.
 					</p>
				</div>
			</quelle>
		</ion-content>
	</ion-slide>
			
			<!-- SEITE 4 -->
	<ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row"> 
				<!-- SPALTE: col-x definiert breite. -->                 <!-- Spalte 1 (hohe Spalte)-->			
				<div class="col col-33">
					<h1>Huten</h1>					
					<h3>Alber</h3>
					<p>
						Für die Hut Alber steht der rechte Fuß vorne, das Schwert wird vor dem Körper, mit dem Ort zum Boden gehalten. Die <span glossar="kurze_schneide">kurze Schneide</span> ist dabei oben und die Arme sind fast gestreckt.<br> Je nach Variante, kann der <span glossar="ort">Ort</span> dabei nach vorne oder leicht zur Seite gerichtet sein.</p> <p>TIPP: Zwar hat man häufig den Eindruck, in dieser Hut ungeschützt zu sein, allerdings kann man aus dem Alber leicht sein Schwert hochreißen und die Hände des Gegners treffen, bevor dieser einen erreicht.
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-75"> 
						<ion-slide-box class="image-slider" prevent-drag>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/15.png" class="normalbild" />
								<div class="bildname">
									<p>Alber (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/16.png" class="normalbild" />
								<div class="bildname">
									<p>Alber (Seite)</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
			
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-25"> 
					<!-- Spalte 2 -->
						<div class="col col-33">
							<p> </p>

						</div>
					<!-- Spalte 3 -->
						<div class="col col-33">
							<p></p>
						</div>
					</div>
				</div>
			</div>

			<quelle>				
				<!-- EIN div Altdeutsch -->				
				<div class="alt">					
					<p>
						| Merck die hu°tt haist alber | do schick dich also mit | Stee mit dem rechten füess vor | vnd halt dein swert mit gerackten armen für dir mit dem ort auff der erd das die kurtz schneid oben gewäntt seÿ ~
					</p>
				</div>
				<!-- Ein Div Neudeutsch -->
				<div class="neu">
					<p>
						Die dritte Hut nennt sich Alber und geht wie folgt: Steh mit dem rechten Fuß vor und halt dein Schwert mit gestreckten Armen vor dir mit dem Ort zu Boden, so dass die kurze Schneide nach oben gewandt ist.
 					</p>
				</div>
			</quelle>
			
		</ion-content>
	</ion-slide>
	  
	<!-- SEITE 5 -->
	<ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row"> 
				<!-- SPALTE: col-x definiert breite. -->
				<!-- Spalte 1 (hohe Spalte)-->				
				<div class="col col-33">
					<h1>Huten</h1>
					<h3>Vom Tag</h3> 
					<p>
						In der Hut vom Tag steht der linke Fuß vorne. Das Schwert wird mit nach oben zeigendem <span glossar="ort">Ort</span> an der rechten Schulter gehalten. Es ist stattdessen auch möglich, das Schwert über dem Kopf zu halten.</p><p>TIPP: Wird das Schwert über dem Kopf gehalten, muss es hoch genug sein, um unten zwischen den Armen hindurch sehen zu können.<br >
						An der Schulter kann das Schwert entweder mit der flachen Seite aufgelegt werden, oder es wird vor der Schulter mit der <span glossar="lange_schneide">langen Schneide</span> nach vorne gehalten.<br >
						Die Ellenbogen zeigen nach unten, ausgestreckte Ellenbogen bieten ein beliebtes Ziel im Freikampf.
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-75"> 
						<ion-slide-box class="image-slider" prevent-drag>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/11.png" class="normalbild" />
								<div class="bildname">
									<p>Rechte Hut vom Tag (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/12.png" class="normalbild" />
								<div class="bildname">
									<p>Linke Hut vom Tag (vorne)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/13.png" class="normalbild" />
								<div class="bildname">
									<p>Linke Hut vom Tag (Seite)</p>
								</div>
							</ion-slide>
							<ion-slide>
								<img src="./img/lessons/04/Grundpositionen/14.png" class="normalbild" />
								<div class="bildname">
									<p>Rechte Hut vom Tag  (Seite)</p>
								</div>
							</ion-slide>
						</ion-slide-box>
					</div>
			
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-25"> 
						<div class="col col-33"></div>
						<div class="col col-33"></div>
					</div>
				</div>
			
			</div>
			<quelle>
				<!-- EIN div Altdeutsch -->
				<div class="alt">					
					<p>
						| Merck die hu°tt haist vom tag | Do schick dich also mit | Stee mit dem lincken fueß vor | vnd halt dein swert an deiner rechtñ achsel oder mit auff gerackten armen hoch über dem haubt | vnd stee also in der hu°t ~
					</p>
				</div>
				<!-- Ein Div Neudeutsch -->				
				<div class="neu">
					<p>
						Diese Hut heißt vom Tag und wird wie folgt ausgeführt: Steh mit dem linken Fuß vor und halt dein Schwert entweder an deiner rechten Schulter oder mit gestreckten Armen hoch über dem Kopf. So stehst du in der Hut.
					</p>
				</div>
			</quelle>
		</ion-content>
	  </ion-slide>
	  
	<!-- SEITE 6 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<game-huten>
				<div class="row game-container huten single-row">
					<div class="col col-67">
						<div class="row height-50 armstellungen">
							<div class="col col-25"><img class="selectable arm" src="./img/lessons/04/game/alber_o.jpg" alt="alber armhaltung" id="arm_alber"></div>
							<div class="col col-25"><img class="selectable arm" src="./img/lessons/04/game/vom_tag_o.jpg" alt="vom tag armhaltung" id="arm_vom_tag"></div>
							<div class="col col-25"><img class="selectable arm" src="./img/lessons/04/game/ochs_o.jpg" alt="ochs armhaltung" id="arm_ochs"></div>
							<div class="col col-25"><img class="selectable arm" src="./img/lessons/04/game/pflug_o.jpg" alt="pflug armhaltung" id="arm_pflug"></div>
						</div>
						<div class="row height-50 beinstellungen">
							<div class="col col-25"><img class="selectable bein" src="./img/lessons/04/game/pflug_u.jpg" alt="pflug beinstellung" id="bein_pflug"></div>
							<div class="col col-25"><img class="selectable bein" src="./img/lessons/04/game/ochs_u.jpg" alt="ochs beinstellung" id="bein_ochs"></div>
							<div class="col col-25"><img class="selectable bein" src="./img/lessons/04/game/alber_u.jpg" alt="alber beinstellung" id="bein_alber"></div>
							<div class="col col-25"><img class="selectable bein" src="./img/lessons/04/game/vom_tag_u.jpg" alt="vom tag beinstellung" id="bein_vom_tag"></div>
						</div>
					</div>
					<div class="col col-33">
						<h4>Huten Bauen</h4>
						<p>Baue die geforderte Hute aus Arm- und Beinstellung zusammen!</p>
						<h5>Jetzt gefordert:</h5>
						<p>{{game.nextHute}}</p>
						<button class="button button-balanced" disabled="true" id="huteFinishedButton">{{game.buttonText}}</button>
					</div>
				</div>
			</game-huten>
			<div class="row" id="preGameScreen"> 
				<div class="col col-80 col-offset-10 text-center">
					<h3>Übung: Huten bilden</h3>
					<div class="row"> 
						<div class="col col-80 col-offset-10 instruction-box">
							<p>
								Bei den einzelnen Huten kommt es sowohl auf die Beinstellung als auch auf die Armhaltung an.
							</p>
							<p>Stelle die geforderten Huten aus den richtigen Arm- und Beinstellungen zusammen.</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-30 col-offset-40">
							<button class="button button-primary" ng-click="game.start();">Spiel Starten!</button>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>

	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
