<ion-modal-view class="intro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img src="./img/lessons/07/07a.png" class="hintergrundbild" />
	  	<img src="./img/lessons/07/char07.png" class="charakter" />
		<div class="row"> 
			<!-- SPALTE: col-x definiert breite. -->			
			<div class="col col-33 col-offset-67 intro-text-box">
				<h1>Schnitttests</h1>
					<p>
						Du kannst jetzt die ersten Angriffe durchführen. Damit bist du weit genug um auch etwas mehr über scharfe Schwerter zu lernen.<br>
					In dieser Lektion geht es darum mit scharfen Schwertern Gegenstände zerschneiden zu lernen. Dadurch lernt man die Handhabung des Schwertes viel besser kennen als nur mit Übungsschwertern.
					</p>
				<button class="button button-block button-primary" ng-click="closeIntro()">LOS GEHTS!</button>
			</div>
		</div>
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>