<ion-view view-title="Lektion 7" cache-view="false">
	<ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)">
	<!-- SEITENINHALT START: -->

	<!-- SEITE 1 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >

			<h1>Schnitttests</h1>
			<!-- BREITES BILD -->
			<div class="row height-67"> 
				<img src="./img/lessons/07/07b.png" class="breitbild" />
			</div>
			<!-- DARUNTER LIEGENDER TEXT -->
			<div class="row height-25">
				<!-- Spalte 1 -->
				<div class="col col-33">
					<p> 
						Beim Trainieren mit scharfen Schwertern kommt es vor allem auf den vorsichtigen Umgang mit der scharfen Klinge an. Das Schwert sollte immer mit dem Ort nach unten zeigend getragen und sicher verpackt transportiert werden. 
					</p>
				</div>
				<!-- Spalte 2 -->
				<div class="col col-33">
					<p>
						In Deutschland fallen scharfe Schwerter unter das Waffengesetz und dürfen in der Öffentlichkeit nicht ohne Einschränkungen geführt werden.
					</p>
					<h3>Auszug aus dem Waffengesetz:</h3>
					<p>
						Waffengesetz §42a: Verbot des Führens von Anscheinswaffen und bestimmten tragbaren Gegenstände.
					</p>
				</div >
				<!-- Spalte 3 -->
				<div class="col col-33">
					<p>
						(1) Es ist verboten<br>
						1. Anscheinswaffen,<br>
						2. Hieb- und Stoßwaffen nach Anlage 1 Abschnitt 1 Unterabschnitt 2 Nr. 1.1 oder<br>
						3. Messer mit einhändig feststellbarer Klinge(Einhandmesser) oder feststehende Messer mit einer Klingenlänge über 12cm zu führen.
					</p>
				</div >	
			</div>
		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<div class="row single-row"> 
				<div class="col col-33">
					<h1>Schnitttests</h1>
					<p>(2) Absatz 1 gilt nicht<br>
						1. für die Verwendung bei Foto-, Film oder Fernsehaufnahmen oder Theateraufführungen,<br>
						2. für den Transport in einem verschlossenen Behältnis,<br>
						3. für das Führen der Gegenstände nach Abs. 1 Nr. 2 und 3, sofern ein berechtigtes Interesse vorliegt.<br>
						Weitergehende Regelungen bleiben unberührt. 
					</p>
					<p>
						(3) Ein berechtigtes Interesse nach Absatz 2 Nr. 3 liegt insbesondere vor, wenn das Führen der Gegenstände im Zusammenhang mit der Berufsausübung erfolgt, der Brauchtumspflege, dem Sport oder einem allgemein anerkannten Zweck dient.“
					</p>
				</div>
				<div class="col col-67">

					<!-- Bilder zum weiterschalten -->
					<div class="row height-75 image-slider"> 
						<div class="slider-slide">
							<img src="./img/lessons/07/Schnitttests/schnitt_01.png" class="normalbild" />
							<div class="bildname">
								<p>Eine Milchtüte als Übungsziel</p>
							</div>
						</div>
					</div>
					
					<!-- DARUNTER LIEGENDER TEXT -->					
					<div class="row height-25">
						<div class="col col-50">
							<p>
								Um einen Eindruck des Schadenspotentials und der Qualität eines scharfen Schwertes zu bekommen, werden sogenannte Schnitttests durchgeführt. Zusätzlich kann man dabei auch sich selbst testen, da man an zerschnittenen Objekten erkennen kann, wie sauber die Bewegungen durchgeführt werden. 
							</p>
						</div>
						<!-- Spalte 3 -->
						<div class="col col-50">
							<p>
								Im Training mit stumpfen Übungswaffen schleichen sich leicht Fehler in die Bewegungsabläufe, welche bei Schnitttests schnell aufgedeckt werden. Um sich nicht zu verletzen, ist ein stabiler Stand und die richtige Führung des Schwertes wichtig.
							</p>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>
	  
	  <!-- SEITE 3 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row single-row"> 
				<!-- SPALTE: col-x definiert breite. -->
				<!-- Spalte 1 (hohe Spalte)-->
				<div class="col col-33">
					<h1>Schnitttests</h1>
					<p>
						Je nach Können des Schneidenden werden verschiedene Hiebe oder Stiche ausgeführt. Es kommt vor allem auf eine flüssige Bewegung des Schwertes an. Wird die Klinge nicht gerade gezogen oder geschoben, kann die Schneide das Objekt nicht sauber durchdringen und es fällt herunter oder wird unsauber zertrennt.<br>
						Die verschiedene Schnittmaterialien werden auf einen Pfahl gestellt oder gesteckt. Alternativ kann man sie auch an einer Schnur aufhängen.
					</p>
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-75 image-slider"> 
						<div class="slider-slide">
							<video controls>
								<source src="./img/lessons/07/Schnitttests.mp4" type="video/mp4" />
							</video>
							<div class="bildname">
								<p>Schnitttests im Freien</p>
							</div>
						</div>
					</div>
					
		
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-25"> 
						<div class="col col-50"></div>
						<div class="col col-50"></div>
					</div>
				</div>
			</div>
			
		</ion-content>
	  </ion-slide>

	<!-- SEITE 4 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<game-schnittmaterialien></game-schnittmaterialien>
			<div class="row" id="preGameScreen"> 
				<div class="col col-80 col-offset-10 text-center">
					<h3>Übung: Schwierigkeit zuordnen</h3>
					<div class="row"> 
						<div class="col col-80 col-offset-10 instruction-box">
							<p>Seine Schnittests kann man an unterschiedlichen Objekten durchführen - aber welche sind schwieriger zu schneiden als die anderen?</p>
							<p>Ordne die Objekte der Schwierigkeit nach aufsteigend!</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-30 col-offset-40">
							<button class="button button-primary" ng-click="game.start();">Spiel Starten!</button>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>

	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
