<ion-view view-title="Hintergrundwissen" cache-view="false">
	<ion-slide-box class="lesson-page-container" on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="pageSlidebox" pager-click="pagerClick(index)">
	<!-- SEITENINHALT START: -->

	<!-- SEITE 1 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >

			<h1>Schnitttests</h1>

			<div class="first-page-container">
			<!-- BREITES BILD -->
			<div class="row height-67"> 
				<img src="./img/lessons/07/07b.png" class="breitbild" />
			</div>
			<!-- DARUNTER LIEGENDER TEXT -->
			<div class="row height-33">
				<!-- Spalte 1 -->
				<div class="col col-33">
					<p> 
						All das Training mit stumpfen Simulatoren führt leicht zu einer Gewöhnung an Schwerter. Man verliert die Perspektive dafür wie gefährlich ein scharfes Schwert tatsächlich sein konnte.  

					</p>
				</div>
				<!-- Spalte 2 -->
				<div class="col col-33">
					<p>
						Gleichzeitig gewöhnt man sich mit stumpfen Waffen leicht unsaubere Bewegungen an. Häufig wird das Schwert dann eher wie ein Knüppel geschwungen anstatt zum Schneiden verwendet. 
					</p>
					
				</div >
				<!-- Spalte 3 -->
				<div class="col col-33">
                    <p>
						All diesen Problemen können Schnitttests entgegen wirken. Man übt dabei mit scharfen Schwertern saubere Schnitte an unterschiedlichen Gegenständen anzubringen.  
					</p>
				</div >	
			</div>
			</div>
		</ion-content>
	  </ion-slide>

	<!-- SEITE 2 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<div class="row single-row"> 
				<div class="col col-33">
					<h1>Schnitttests</h1>
					<p>
						Je nach Können des Schneidenden werden verschiedene Hiebe oder Stiche ausgeführt. 
					</p>
					<p> 
						Um sich nicht zu verletzen sollte man auf einen sicheren Stand achten. Bei der Schnittbewegung kommt es vor allem auf eine flüssige Führung des Schwerts an. <br> Wird die Klinge nicht gerade gezogen oder geschoben, kann die Schneide das Objekt nicht sauber durchdringen und es fällt herunter oder wird unsauber zertrennt. 
					</p>
					<p> 
						Die verschiedenen Schnittmaterialien werden auf einen Pfahl gestellt oder gesteckt. <br> Alternativ kann man sie auch an einer Schnur aufhängen.
					</p>
					
				</div>
				<div class="col col-67">

					<!-- Bilder zum weiterschalten -->
					<div class="row height-67 image-slider"> 
						<div class="slider-slide">
							<img src="./img/lessons/07/Schnitttests/schnitt_01.png" class="normalbild" />
							<div class="bildname">
								<p>Eine Milchtüte als Übungsziel</p>
							</div>
						</div>
					</div>
					
					<!-- DARUNTER LIEGENDER TEXT -->					
					<div class="row height-33">
						<div class="col col-50">
						<p>
						Als Ziele eignen sich beispielsweise wassergefüllte Tetra-Packs oder Pet-Flaschen. Etwas schwierigere Ziele sind nasse Strandmatten aus Stroh oder Tatami Matten. 
						</p>

						</div>
						<!-- Spalte 3 -->
						<div class="col col-50">
						<p>
						Letztere werden auch traditionell zum Testen von Catanas verwendet.
						</p>
							
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>
	  
	  <!-- SEITE 3 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<!-- ZEILE: (aufteilbar mit height-75 / height-50 / height-25) -->
			<div class="row single-row"> 
				<!-- SPALTE: col-x definiert breite. -->
				<!-- Spalte 1 (hohe Spalte)-->
				<div class="col col-33">
					<h1>Schnitttests</h1>
					<p>
						Beim Trainieren mit scharfen Schwertern kommt es vor allem auf den vorsichtigen Umgang mit der scharfen Klinge an. Das Schwert sollte immer mit dem Ort nach unten getragen und sicher verpackt transportiert werden.
					</p>
					<p>
						In Deutschland fallen scharfe Schwerter unter das Waffengesetz und dürfen in der Öffentlichkeit nicht ohne Einschränkungen geführt werden. Genauer kann dies in diesem Paragrafen nachgelesen werden:
					</p>
					<p>
						<a href="http://www.gesetze-im-internet.de/waffg_2002/BJNR397010002.html"> § 42a Verbot des Führens von Anscheinswaffen und bestimmten tragbaren Gegenständen </a> 
					</p>
                    	
				</div>
				<div class="col col-67">
					<!-- BILD _ HÖHE VON 75 % -->
					<!-- Bilder zum weiterschalten -->
					<div class="row height-67 image-slider"> 
						<div class="slider-slide">
							<video controls preload='metadata'>
								<source src="./img/lessons/07/Schnittests.mp4" type="video/mp4" />
								<source src="./img/lessons/07/Schnittests.webm" type="video/webm" />
							</video>
							<div class="bildname">
								<p>Schnitttests im Freien</p>
							</div>
						</div>
					</div>
					
		
					
					<!-- DARUNTER LIEGENDER TEXT -->
					<div class="row height-33"> 
						<div class="col col-50">
							<p> 
								Demnach ist das Führen scharfer Schwerter verboten, es sei denn man hat ein berechtigtes Interesse dazu. <br> Glücklicherweise gilt als 
							</p>
						</div>
						<div class="col col-50">
						<p> 
							berechtigtes Interesse sowohl die Brauchstumspflege als auch der Sport. <br> Es ist also erlaubt Schnitttests durchzuführen. 
						</p>
						</div>
					</div>
				</div>
			</div>
			
		</ion-content>
	  </ion-slide>

	<!-- SEITE 4 -->
	  <ion-slide>
		<ion-content class="padding pagecontent" scroll="false" has-bouncing="false" >
			<game-schnittmaterialien></game-schnittmaterialien>
			<div class="row" id="preGameScreen">
				<h2>Beinarbeit</h2> 
				<div class="col col-80 col-offset-10 text-center">
					<h3>Übung: Schwierigkeit zuordnen</h3>
					<div class="row"> 
						<div class="col col-80 col-offset-10 instruction-box">

							<p>Schnittests kann man an unterschiedlichen Objekten durchführen - aber welche sind schwieriger zu schneiden als andere?</p>
							<p>Ordne die Objekte der Schwierigkeit nach aufsteigend!</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-30 col-offset-40">
							<button class="button button-block button-primary" ng-click="game.start();">SPIEL STARTEN!</button>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-slide>

	  <!-- SEITENINHALT ENDE -->
	</ion-slide-box>
</ion-view>
