<ion-modal-view class="outro">
	<ion-content scroll="false">
<div class="row">
			<div class="col col-67">
				<h2>Deine Belohnung</h2>
				<!-- BILD (Belohnung) -->
				<img src="./img/lessons/07/7.png" class="belohnung" />	
			</div>
			<div class="col col-33">

				<div class="abschlusstext">					
					<h4>Schnitttests</h4>
					<p>
						Großartig! Das war schon die siebte Lektion!<br>Du weißt jetzt sogar schon wie man mit scharfen Schwertern umgeht!<br>Damit bist du reif für dein erstes eigenes Stahlschwert! <br>Bei so viel gefährlichen Waffen darf der Schutz natürlich nicht zu kurz kommen. Deshalb geht es in der nächsten Lektion um moderne Schutzausrüstung.
					</p>
				</div>				
				<div class="weiter-box">
					<span>VORWÄRTS!</span>
					<button class="button button-clear weiter-button" ng-click="closeOutro(); gotoState('menu.campaign-lesson-' + (Lesson.lessonnumber+1));"></button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>