<ion-modal-view class="intro">
	<ion-header-bar class="bar-primary">
	</ion-header-bar>
	<ion-content scroll="false" class="pagecontent">
		<!-- SEITENFÜLLENDES HINTERGRUNDBILD -->
	  	<img ng-src="./img/{{Data.lessonData.introBgImage}}"  class="hintergrundbild" />
		<div class="row single-row"> 
			<!-- SPALTE: col-x definiert breite. -->
			<div class="col col-33 col-offset-67 intro-text-box">
				<div ng-bind-html="Data.lessonData.introText"></div>
				
                <button class="button button-block button-primary" ng-click="closeIntro()">LOS GEHT'S!</button>
			</div>
		</div>
		<img ng-src="./img/character/{{Data.user.levelprogress-1}}.png" class="charakter" />
	</ion-content>
  <ion-footer-bar class="bar-primary">
  </ion-footer-bar>
</ion-modal-view>